<%- include('partials/mainHeader'); -%>

<section class="booksell">
  <h2 class="heading--secondary backgroung-color-blue">
    <b><%=product[0].book_name%></b><br />
    <b>price:<%=product[0].book_price%></b><br />
  </h2>
  <div class="booksell__form">
      <form class="booksell__form--form" action="/order" method="post" encType="multipart/form-data">
        <input type="hidden" name="buyerid" value="<%=buyer%>">
        <input type="hidden" name="sellerid" value="<%=product[0].userid%>">
        <input type="hidden" name="bookname" value="<%=product[0].book_name%>">
        <input type="hidden" name="price" value="<%=product[0].book_price%>">
          <div class="booksell__form--form__bookname">
              <label class="booksell__form--form__bookname--label" for="bookname"><b>Name:</b></label>
              <input class="booksell__form--form__bookname--input" type="text"name="buyerNAme" placeholder="name">
          </div>
          <div class="booksell__form--form__bookAuthor">
              <label class="booksell__form--form__bookAuthor--label" for="bookAuthor"><b>Mobile Number</b></label>
          <input class="booksell__form--form__bookAuthor--input" type="text" value="" name="buyerMobileNumber" placeholder="MobileNumber"><br />
          </div>
          <div class="booksell__form--form__BookDetails">
              <label class="booksell__form--form__BookDetails--label" for="bookDetails"><b>Address</b></label><br/>
          <textarea class="booksell__form--form__BookDetails--textarea" name="Address" placeholder="enter your Addess"></textarea>
          </div>
          <div class="booksell__form--form__button margin-bottom--big margin-top--medium">
          <button type="submit" class="btn btn-lg btn-warning form-button margin-bottom--big">Place the order</button>
          </div>
        </form>
  </div>
</section>
<%- include('partials/mainFooter'); -%>
