<%- include('partials/mainHeader'); -%>
<section class="dashboard__info">
  <div class="dashboard__info--user">
      <div class="dashboard__info--user--circle"><%=all.username%></div>
      <div class="dashboard__info--user--circle"><b>sell posts:</b><%=found.length%></div>
      <div class="dashboard__info--user--circle"><b>Bought:</b><%=buy.length%><br /></div>
      <div class="dashboard__info--user--circle"><b>Sold/Request:</b><%=sell.length%></div>
  </div>
  <div class="userCarousel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
      
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <%for(let i=1;i<found.length;i++){%>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>"></li>
        <%}%>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% if(found.length>0){%>
            <a href="/aboutbook/<%=found[0]._id%>"><img src="<%=found[0].image%>" class="d-block w-100 userCarouselImage" alt="..."></a>
          <%}else{%>
            <img src="/images/noPhotoFound.png" class="d-block w-100 userCarouselImage" alt="...">
          <%}%>
          </div>
        <%for(let i=1;i<found.length;i++){%>
          <div class="carousel-item">
          <a href="/aboutbook/<%=found[i]._id%>"><img src="<%=found[i].image%>" class="d-block w-100 userCarouselImage" alt="...">
          </div>
        <%}%>
      
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
</section>
<section class="dashboard__buttons">
  <a href="/buyerpage"><button type="button" name="button" class="btn btn-danger btn-lg dashboard__buttons-btn">Bought File info</button></a>
  <a href="/sellrequest/"><button type="button" name="button" class="btn btn-warning btn-lg dashboard__buttons-btn">Sell Notification</button></a>
  <%if(sell.length!=0){%>
      <div class="dashboard__buttons--notification">
        <%=sell.length%>
        </div>
      <%}%>
</section>

<%- include('partials/mainFooter'); -%>
