<%- include('partials/nextheader'); -%>
<div class="container">

  <%if(findFiles>0){%>
  <div class="row">
      <%for(let i=findFiles-1;i>=0;i--){%>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class ="heightt">
        <a href="/aboutbook/<%=found[i]._id%>">
        <img src="<%=found[i].image%>" class="cover1 cover2" alt="img" />
     </a>
        <div class="AuthPrice">
          <a class="ahrefbook" href="/aboutbook/<%=found[i]._id%>">
          <b>Author: <%=found[i].author_Name%></b><br />
          <b>price: <%=found[i].book_price%> taka</b>
          <a>
          </div>
      </div>
    </div>
      <%}%>
  </div>
<%}else{%>
  <h2 class="NoFiles">No files Uploaded yet</h2>
<%}%>

  </div>

<%- include('partials/nextFooter') ;-%>
