<%- include('partials/nextheader'); -%>
<h1 class="sellheader"> Search Result</h1>
<%for(let i=0;i<Name.length;i++){%>
  <div class="searchshow">
    <a href="/aboutbook/<%=Id[i]%>"><%=Name[i]%></a>
    </div>
<%}%>
<%=no%>

<%- include('partials/sellFooter'); -%>
