<%- include('partials/mainheader'); -%>

<%if(found.length>0){%>
<h1 class="sellerNotification--header">Order</h1>
<div class="sellerNotification">
  <div class="sellerNotification__name">
    <div>
      <b>Book name</b>
    </div>
    <div>
      <b>Buyer's Name</b>
    </div>
    <div>
     <b>Mobile</b>
    </div>
    <div>
      <b>Address</b>
    </div>
    <div>
      <b>Message</b>
    </div>
    <div>
      <b>item</b>
    </div>
  </div>
  <%found.forEach(function(item){%>
  <div class="sellerNotification__info">
    <div>
      <%=item.bookname%>
    </div>
    <div>
      <%=item.buyername%>
    </div>
    <div>
      <%=item.mobileNumberOfBuyer%>
    </div>
    <div>
      <%=item.Homeaddress%>
    </div>
    <div>
      <a href="/message/<%=item._id%>" class="sellerNotification--message"><i class="fas fa-comments"></i>message</a>
    </div>
    <%if(item.Shipped=="shipped"){%>
      <div>
        item shipped
      </div>
      <%}else{%>
        <div>
          <form action="/delivered" method="post">
            (item shipped?)
            <input type="hidden" name="sellid" value="<%=item._id%>">
            <input type="checkbox" name="delivered" value="shipped" onclick="this.form.submit()">
            </form>
        </div>
        <%}%>
      </div>
      </div>
  <%})%>
<%}else{%>
  <div class="NoFilesUploaded">
    <h2 class="NoFiles">No Request yet</h2>
  </div>
<%}%>
<%- include('partials/mainFooter'); -%>
